

body {
    background-color: azure;
    color : rgb(255, 255, 255);
    font-family: 'Avenir';
    line-height: 1.5;
    min-height: 99vh;
    font-size: 16px;
}

img{
   max-width: 100%;
   display: block;
   height: auto;
}

.home {
    background-color: rgb(0, 0, 0);
}


.header {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    gap: 24px;
    align-items:last baseline;
    position : sticky;
    top:8px;
    margin-left: 20px;
    margin-right: 20px;

}

.header a{
    text-decoration: none;
    color: currentColor;
}

 .projets {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 20px;
    justify-content: center;
    max-width:1000px;
    margin:auto;
    justify-content:center;
    gap:24px;
    margin-top: 50px;
    }

 .projet {
    display: block;
    max-width: 100%;
    text-decoration: none;
   
 }

 .projet-large {
    grid-column: span 2;
    grid-row: span 2;
 }
 

 .a-fx{
   display: grid;
 }

 .a-fx img,
 .a-fx p {
   grid-column: 1/-1;
   grid-row: 1/-1;
   transition: 1s;
   
 }
 .a-fx p {
   opacity: 0;
 }

 .a-fx:hover .img-preview {
   opacity:0;
   transform:scale(1.1);   
 }


 .article {
    margin: auto;
    display: grid;
 }

 .article img {
    max-width: 100%;
    display: block;
    margin-bottom: 24px;
 }
 
 
 